.container {
  width: 100%;
  position: relative;
}
.navbar {
  background-color: #001f8b;
  height: 98px;
  display: flex;
}

.nav__container {
  display: flex;
  align-items: center;
  margin-left: 20px;
}
.nav__circle {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 24px;
  background-color: green;
}
.nav__title {
  color: #fff;
  font-size: 1.5rem;
  font-weight: 500;
}
.notes__content{
    background-color: #DAE5F5;
    height: calc(100vh - 98px - 200px);
    overflow-y: auto;
}
.notes__content--description{
    border-radius: 8px;
    background-color: #fff;
    width: 95%;
    margin: 24px auto;
    padding: 24px 30px 32px 24px;
    position: relative;
}
.notes__para{
    font-size: 1.1rem;
    font-weight: 400;
    margin-bottom: 24px;
    line-height: 28px;
}
.date__wrapper{
    position: absolute;
    right: 40px;
    bottom: 1px;
}
.date{
    font-size: 18px;
    font-weight: 500;
    color: #353535;
}
.dot{
    margin: 0 8px;
    font-weight: 700;
    font-size: 50px;
}
.textarea__container{
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #001F8B;
  height: 200px;
}
.textarea__wrapper{
  margin: 16px auto;
  width: 96%;
  height: 170px;
}

.text{
  resize: none;
  width: 100%;
  color: #9A9A9A;
  box-sizing: border-box;
  font-size: 28px;
  padding: 12px 24px;
  border: none;
  outline: none;
  line-height: 34.94px;
  height: 100%;
  border-radius: 5px;
}
.textarea__btn{
  cursor: pointer;
  position: absolute;
  right: 48px;
  border: none;
  bottom: 32px;
  /* margin-right: 8px; */
}
.arrow__logo{
  height: 30px;
  width: 30px;
}


