.overlay__container{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: #2F2F2FBF;
    z-index: 5;
}

.overlay{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    width: 550px;
    height: 250px;
    border-radius: 6px;
    z-index: 10;
}
.content{
    margin: 32px 0 0 40px;
}
.modal__title,
.input__wrapper{
    margin-bottom: 20px;
}
.modal__title{
    font-size: 24px;
}
.input__title,
.color__heading{
    font-size: 20px;
    font-weight: 500;
}
input{
    width: 320px;
    height: 40px;
    margin-left: 32px;
    border-radius: 25px;
    border: 2px solid #CCCCCC;
}

input[type="text"]{
    font-size: 16px;
    font-weight: 500;
    padding: 16px;

}
input::placeholder{
    font-weight: 400;
}
.color__heading{
    margin-right: 28px;
}
.colors{
    display: flex;
    align-items: center;
}
.color{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin-right: 12px;
    cursor: pointer;
}
.color:focus{
    border: 2px solid #000;
}
.color--1{
    background-color: #B38FBA;
}
.color--2{
    background-color: #FF79F2;
}
.color--3{
    background-color: #43E6FC;
}
.color--4{
    background-color: #F19576;
}
.color--5{
    background-color: #0047FF;
}
.color--6{
    background-color: #6691FF;
}
.modal__btn{
    background-color: #001F8B;
    color: #fff;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    width: 120px;
    text-align: center;
    padding: 6px 14px;
    cursor: pointer;
    position: absolute;
    bottom: 16px;
    right: 20px;
}