.overlay__container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: #2f2f2fbf;
  z-index: 5;
}

.overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  width: 550px;
  height: 250px;
  border-radius: 6px;
  z-index: 10;
}
.content {
  margin: 32px 0 0 40px;
}
.modal__title,
.input__wrapper {
  margin-bottom: 20px;
}
.modal__title {
  font-size: 24px;
}
.input__title,
.color__heading {
  font-size: 20px;
  font-weight: 500;
  line-height: 43px;
}
input {
  width: 320px;
  height: 40px;
  margin-left: 32px;
  border-radius: 25px;
  border: 2px solid #cccccc;
}

input[type="text"] {
  font-size: 16px;
  font-weight: 500;
  padding: 16px;
}
input::placeholder {
  font-weight: 400;
}
.color__heading {
  margin-right: 28px;
}
.colors {
  display: flex;
  align-items: center;
}
.color {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-right: 12px;
  cursor: pointer;
}
.color:focus {
  border: 2px solid #000;
}
.color--1 {
  background-color: #b38fba;
}
.color--2 {
  background-color: #ff79f2;
}
.color--3 {
  background-color: #43e6fc;
}
.color--4 {
  background-color: #f19576;
}
.color--5 {
  background-color: #0047ff;
}
.color--6 {
  background-color: #6691ff;
}
.modal__btn {
  background-color: #001f8b;
  color: #fff;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  width: 120px;
  text-align: center;
  padding: 6px 14px;
  cursor: pointer;
  position: absolute;
  bottom: 5%;
  right: 5%;
}

@media (max-width: 576px) {
  .overlay {
    width: 90%;
  }
  .content {
    margin: 24px;
  }
  .modal__title {
    font-size: 18px;
    margin-bottom: 14px;
  }
  .input__title,
  .color__heading {
    font-size: 14px;
    line-height: 28px;
  }
  input {
    width: 60%;
    margin-left: 5px;
  }
  .color__heading {
    margin-right: 10px;
  }
  .modal__button--wrapper {
    display: flex;
  }
  .modal__btn {
    width: 220px;
    right: 18%;
  }
  .color {
    flex-shrink: 0;
    margin-right: 8px;
  }
}
